*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    perspective: 500px;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .container{
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
  }
  
  .card{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5), 0 0 30px rgba(0, 0, 0, .3);
    transform-style: preserve-3d;
    
  }
  
  .ship{
    position: relative;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    margin: 0 auto;
    transform-style: preserve-3d;
  }

  .info{
    transform-style: preserve-3d;
  }

.circle{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4286f4;
  border-radius: 50%;
  z-index: 0;
}

.ship img{
  position: absolute;
    width: 200px;
    height: auto;
    padding-top: 1.5em;
    margin-left: -30px;
    z-index: 4;
    transition: all 400ms ease-in-out;
  }
  
  .card h1{
    font-size: 1.5em;
    margin-bottom: 1em;
    z-index: 3;
    transition: all 400ms ease-in-out;
  }
  
  .card h3{
    font-size: 1.1em;
    margin-bottom: 1em;
    z-index: 2;
    transition: all 400ms ease-in-out;
  }
  
  .card p{
    font-size: .9em;
    z-index: 1;
    transition: all 400ms ease-in-out;
    color: #272727;
    line-height: 150%;
  }

  .card button{
      background: #f31e1e;
      color: #FAFAFA;
      font-weight: 700;
      font-size: 1.2em;
      margin-top: .5em;
      padding: .5em 2em;
      border-radius: 50px;
  }